<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>zs.library.controller.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlets</display-name>
    <servlet-name>BookServlets</servlet-name>
    <servlet-class>zs.library.controller.BookServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlets</servlet-name>
    <url-pattern>/BookServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateCodeServlet</display-name>
    <servlet-name>GenerateCodeServlet</servlet-name>
    <servlet-class>zs.library.controller.GenerateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCodeServlet</servlet-name>
    <url-pattern>/GenerateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>zs.library.controller.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
</web-app>